<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Ember App Kit</a>
    <ul class="nav">
      <li>{{#link-to 'component-test'}}Component Test{{/link-to}}</li>
      <li>{{#link-to 'helper-test'}}Helper Test{{/link-to}}</li>
      <li>{{#link-to 'repositories'}}Repositories{{/link-to}}</li>
    </ul>
  </div>
</div>

<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}
