<div class="container">
  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RHUI</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'component-test'}}Component Test{{/link-to}}</li>
          <li>{{#link-to 'helper-test'}}Helper Test{{/link-to}}</li>
          <li>{{#link-to 'repositories'}}Repositories{{/link-to}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/users">Users</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>

  {{outlet}}

</div> <!-- /container -->



